<div class="w-screen md:mb-16 px-3 md:px-24 divide-y-2 space-y-2 py-4">
    <div class="pb-6 md:flex md:items-center md:justify-between">
      <span class="block font-normal text-dark">
        <strong class="font-black block">
          Easy funding
          & withdrawals:</strong>
          <span class="block">No Deposit Fee.</span>
      </span>
      <div class="space-y-3">
        <img class="hidden md:block" src="/static/vendors/images/payment-methods.d2bf74d13d16.png" alt="payment methods image">
        <img class="md:hidden block" src="/static/vendors/images/payment-methods-mb.3ff4cb41eebd.png" alt="payment methods image">
        <span class="block">For more deposits, withdrawals and funding information please <a href="/funding" class="text-primary hover:font-black duration-300 transition font-regular">click here</a></span>
      </div>
    </div>
    <div class="space-y-4 pt-12">
      <div class="grid grid-cols-1 md:grid-cols-6 gap-6">
        <div>
          <strong class="font-black uppercase">Quick start</strong>
          <ul class="text-dark/50">
            <li>
              <a href="/register" class="hover:font-black duration-300 transition font-regular">
                Open An Account
              </a>
            </li>
            <li>
              <a href="/platforms" class="hover:font-black duration-300 transition font-regular">
                Try a Demo
              </a>
            </li>
            <li>
              <a href="/login" class="hover:font-black duration-300 transition font-regular">
                Client Portal
              </a>
            </li>
            <li>
              <a href="https://iress.com/" class="hover:font-black duration-300 transition font-regular">
                Iress Login
              </a>
            </li>
          </ul>
        </div>
        <div>
          <strong class="font-black uppercase">Markets</strong>
          <ul class="text-dark/50">
            <li>
              <a href="/about" class="hover:font-black duration-300 transition font-regular">
                What is forex trading?
              </a>
            </li>
            <li>
              <a href="#" class="hover:font-black duration-300 transition font-regular">
                What is CFDs?
              </a>
            </li>
            <li>
              <a href="/trading" class="hover:font-black duration-300 transition font-regular">
                What you can trade
              </a>
            </li>
            <li>
              <a href="/trading" class="hover:font-black duration-300 transition font-regular">
                Forex
              </a>
            </li>
          </ul>
        </div>
        <div>
          <strong class="font-black uppercase">Tools & Platforms</strong>
          <ul class="text-dark/50">
            <li>
              <a href="/platforms" class="hover:font-black duration-300 transition font-regular">
                MetaTrader 4 (MT4)
              </a>
            </li>
            <li>
              <a href="/platforms" class="hover:font-black duration-300 transition font-regular">
                MetaTrader 5 (MT5)
              </a>
            </li>
            <li>
              <a href="https://iress.com/" class="hover:font-black duration-300 transition font-regular">
                Iress
              </a>
            </li>
          </ul>
        </div>
        <div>
          <strong class="font-black uppercase">Trading Info</strong>
          <ul class="text-dark/50">
            <li>
              <a href="/dashboard" class="hover:font-black duration-300 transition font-regular">
                Deposit Funds?
              </a>
            </li>
            <li>
              <a href="/dashboard" class="hover:font-black duration-300 transition font-regular">
                Withdraw Funds
              </a>
            </li>
            <li>
              <a href="/dashboard" class="hover:font-black duration-300 transition font-regular">
                Margin Table
              </a>
            </li>
            <li>
              <a href="/dashboard" class="hover:font-black duration-300 transition font-regular">
                Forex Spreads
              </a>
            </li>
          </ul>
        </div>
        <div>
          <strong class="font-black uppercase">About Us</strong>
          <ul class="text-dark/50">
            <li>
              <a href="/about" class="hover:font-black duration-300 transition font-regular">
                What is TheNetFi
              </a>
            </li>
            <li>
              <a href="/faq" class="hover:font-black duration-300 transition font-regular">
                FAQ
              </a>
            </li>
            <li>
              <a href="/contact" class="hover:font-black duration-300 transition font-regular">
                Contact Us
              </a>
            </li>
          </ul>
        </div>
        <div>
          <strong class="font-black uppercase">Regulation & License</strong>
          <ul class="text-dark/50">
            <li>
              <a href="/legals/privacy" class="hover:font-black duration-300 transition font-regular">
                Legal Documents
              </a>
            </li>
            <li>
              <a href="/contact" class="hover:font-black duration-300 transition font-regular">
                Dispute Resolution
              </a>
            </li>
            <li>
              <a href="/legals/terms" class="hover:font-black duration-300 transition font-regular">
                Regulation
              </a>
            </li>
          </ul>
        </div>
  
      </div>
      <div class="md:flex md:justify-between md:items-center py-6">
        <a href="/" class="flex items-center">
          <img src="/static/vendors/images/logo-dark.fd7e3b65ebcf.png" alt="Logo" class="h-10 object-contain">
          <strong class="text-xl font-black">TheNetFi</strong>
        </a>
        <div class="grid grid-cols-1 md:grid-cols-3 items-center gap-6">
          <!-- <div>
            Call Us: <a href="tel://+1760474-8524" class="text-primary hover:font-black duration-300">+1(917) 765-2629</a>
          </div> -->
          <div>
            Email: <a href="mailto://info@TheNetFi.com" class="text-primary hover:font-black duration-300"> info@TheNetFi.com</a>
          </div>
          <!-- <div>
            Social Media:
            <span class="flex items-center text-primary hover:font-black duration-300">
              <a href="https://www.facebook.com/TheNetFi/" class="mr-2">
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M18 2H6a3 3 0 00-3 3v16a3 3 0 003 3h12a3 3 0 003-3V5a3 3 0 00-3-3zM6 4.995h12V19.005H6V4.995z" />
                  <path d="M12 18.01c-1.105 0-2-1.12-2-2.99 0-1.106.895-2 1.99-2 1.106 0 2 1.12 2 2.99 0 1.105-.895 2-1.99 2z" />
                </svg>
              </a>
              <a href="https://twitter.com/TheNetFi" class="mr-2">
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
                </svg>
              </a>
              <a href="https://www.instagram.com/TheNetFi/" class="mr-2">
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M12 2.163c3.204 0 3.584.012 4.85.07 3.252.148 4.771 1.691 4.919 4.919.058 1.265.069 1.645.069 4.849 0 3.205-.012 3.584-.069 4.849-.149 3.225-1.664 4.771-4.919 4.919-1.266.058-1.644.07-4.85.07-3.204 0-3.584-.012-4.849-.07-3.26-.149-4.771-1.699-4.919-4.92-.058-1.265-.07-1.644-.07-4.849 0-3.204.013-3.583.07-4.849.149-3.227 1.664-4.771 4.919-4.919 1.266-.057 1.645-.069 4.849-.069zm0-2.163c-3.259 0-3.667.014-4.947.072-4.358.2-6.78 2.618-6.98 6.98-.059 1.281-.073 1.689-.073 4.948 0 3.259.014 3.668.072 4.948.2 4.358 2.618 6.78 6.98 6.98 1.281.058 1.689.072 4.948.072 3.259 0 3.668-.014 4.948-.072 4.354-.2 6.782-2.618 6.979-6.98.059-1.28.073-1.689.073-4.948 0-3.259-.014-3.667-.072-4.947-.196-4.354-2.617-6.78-6.979-6.98-1.281-.059-1.69-.073-4.949-.073zm0 5.838c-3.403 0-6.162 2.759-6.162 6.162s2.759 6.163 6.162 6.163 6.162-2.759 6.162-6.163c0-3.403-2.759-6.162-6.162-6.162zm0 10.162c-2.209 0-4-1.79-4-4 0-2.209 1.791-4 4-4s4 1.791 4 4c0 2.21-1.791 4-4 4zm6.406-11.845c-.796 0-1.441.645-1.441 1.44s.645 1.44 1.441 1.44c.795 0 1.439-.645 1.439-1.44s-.644-1.44-1.439-1.44z" />
                </svg>
              </a>
              <a href="https://www.linkedin.com/company/TheNetFi/" class="mr-2">
                <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24">
                  <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" />
                </svg>
              </a>
            </span>
          </div> -->
        </div>
      </div>
    </div>
    <div class="space-y-4 pt-12">
      <p class="text-dark/50 text-sm text-justify">
        <strong>DISCLAIMER:</strong> The material on this website is intended for illustrative purposes and general information only. It does not constitute financial advice nor does it take into account your investment objectives, financial situation or particular needs. Commission, interest, platform fees, dividends, variation margin and other fees and charges may apply to financial products or services available from TheNetFi. The information in this website has been prepared without taking into account your personal objectives, financial situation or needs. You should consider the information in light of your objectives, financial situation and needs before making any decision about whether to acquire or dispose of any financial product. Contracts for Difference (CFDs) are derivatives and can be risky; When trading CFDs you do not own or have any rights to the CFDs underlying assets.
      </p>
      <p class="text-dark/50 text-sm text-justify">
        TheNetFi recommends that you seek independent advice from an appropriately qualified person before deciding to invest in or dispose of a derivative. A Product Disclosure Statement for each of the financial products, as well as our TMD (Target Market Determination), are available from TheNetFi and can be obtained either from this website or on request from our offices and should be considered before entering into transactions with us. TheNetFi is a group of companies which include First Prudential Markets Ltd, a company authorised and regulated by the Australian Securities and Investments Commission (ASIC), Registered Address: Level 5, 10 Bridge Street, Sydney, NSW, 2000, Australia and First Prudential Markets Ltd (registration number HE 372179), a company authorised and regulated by the Cyprus Securities and Exchange Commission (CySEC Licence number 371/18, Registered Address: Griva Digeni, 109, Aigeo Court, 2nd floor, 3101, Limassol, Cyprus.  
      </p>
      <div class="md:flex md:justify-between md:items-center space-y-2 md:space-y-0 text-sm md:text-base">
        <div class="flex items-center justify-center md:justify-start">
          <!-- <a href="/" class="text-primary hover:font-bold duration-300 pr-1">Sitemap</a> -->
          <span class="text-gray-500">&copy; TheNetFi</span>
        </div>
        <div class="flex items-center justify-items-center bg-dark text-white md:bg-white md:text-dark py-2 md:py-0">
          <a href="/legals/privacy" class="block text-gray-500 md:hover:text-dark hover:text-white hover:font-bold duration-300 text-center md:text-left w-1/2 md:w-auto">
            Privacy Policy
          </a>
          <span class="text-gray-500 ml-2 mr-2">|</span>
          <a href="/legals/terms" class="block text-gray-500 md:hover:text-dark hover:text-white hover:font-bold duration-300 text-center md:text-left w-1/2 md:w-auto">
            Terms of Use
          </a>
        </div>
      </div>
    </div>
  </div>


  <%- partial('./partials/livechatwidget')%>