

<!DOCTYPE html>





<html lang="en">
  
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <title>
24 Hours Support  - TheNetFi
</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="Classification" content="Business">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">

    <meta name="description" content="TheNetFi is your one-stop destination to trade CFDs across Forex, Shares, Indices, Commodities & Cryptocurrencies.">

    <link rel="shortcut icon" href="/static/vendors/images/favicon.cbf2618ef349.png">

    
    <link type="text/css" href="/static/css/app.e7b0768fdabf360fa239.3a800150df04.css" rel="stylesheet" />
    
    <!-- Le javascript
    ================================================== -->
    
    
    <script src="https://TheNetFi.com/cdn.tiny.cloud/1/invalid-origin/tinymce/6.1.2-8/tinymce.min.html" referrerpolicy="origin"></script>
    <script type="application/javascript">
        tinymce.init({
          selector: 'textarea',
          plugins: 'image autolink lists media table paste',
          toolbar: 'undo redo | styles | bold italic | addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
          toolbar_mode: 'floating',
          tinycomments_mode: 'embedded',
        });
    </script>

    <script src="https://TheNetFi.com/cdn.jsdelivr.net/npm/%40ryangjchandler/alpine-clipboard%402.x.x/dist/alpine-clipboard.html" defer></script>
    

    

    
  </head>

  <body class="w-screen block" x-data="{ showBar : false, showNav : false }" hx-headers='{"X-CSRFToken": "JtKWjN9X3EJfTIZSylN446t6jmUeT3WMkyesd07on0aqEMAFpcwmftqxtyh1jcos"}' >



    

    
	<%- partial('./partials/navbar')%>
    

    
<section class="w-screen pb-24 pt-40 bg-primary justify-center items-center flex flex-col text-center text-white" style="background:url(/static/vendors/images/trading.79493116d115.png)">
  <div class="flex flex-col space-y-4">
    <h1 class="text-2xl md:text-4xl text-white font-black">Contact Us</h1>
    <p>Our dedicated team of TheNetFi experts are always ready to assist you when you need it.</p>
  </div>
</section>

<section class="w-screen px-3 md:px-24 py-8 md:py-24 text-white" style="background: url(/static/vendors/images/bottom-bg.773e24f86f6b.jpg); background-size: cover;">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pb-14">
    <div class="space-y-2">
      <h3 class="font-bold text-3xl">Request Assistance</h3>
      <p>24/7 Support</p>
      <ul class="space-y-1">
        <li class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd" />
          </svg>
          <span class="block font-normal">Access +10,000 financial instruments</span>
        </li>
        <li class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd" />
          </svg>
          <span class="block font-normal">Auto open & close positions</span>
        </li>
        <li class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd" />
          </svg>
          <span class="block font-normal">News & economic calendar</span>
        </li>
        <li class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd" />
          </svg>
          <span class="block font-normal">Technical indicator & charts</span>
        </li>
        <li class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd" />
          </svg>
          <span class="block font-normal">Many more tools included</span>
        </li>
      </ul>
    </div>
    

<form class="space-y-2" id="signup">
  <input type="text" placeholder="First name" name="fname" class="border-[1px] block w-full border-white p-2 placeholder:text-white bg-transparent">
  <input type="text" placeholder="Last name" name="lname" class="border-[1px] block w-full border-white p-2 placeholder:text-white bg-transparent">
  <input type="email" placeholder="Email" name="email" class="border-[1px] block w-full border-white p-2 placeholder:text-white bg-transparent">
  <input type="text" placeholder="Subject" name="subject" class="border-[1px] block w-full border-white p-2 placeholder:text-white bg-transparent">
  <textarea name="message" placeholder="Write your message here" cols="30" rows="10"></textarea>
  <button hx-post="" hx-target="" hx-swap="innerHTML" class="bg-primary text-white font-bold uppercase py-3 block w-full hover:font-black duration-300">SEND MESSAGE</button>
</form>

  </div>
</section>


    
    




<%- partial('./partials/footer')%>


    


    
    <script type="text/javascript" src="/static/js/runtime.dd020376.9984fafca2c6.js" ></script>
<script type="text/javascript" src="/static/js/259.205647a0.74c2f844d0fc.js" ></script>
<script type="text/javascript" src="/static/js/app.f8c31c3d.bb4aa123e7d0.js" ></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.5"></script>

    
<script>
  var providerswiper = new Swiper(".mySwiper", {
    autoplay: {
      delay: 2000,
    },
    slidesPerView: 3,
    spaceBetween: 15,
    // Responsive breakpoints
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

  </body>

</html>
