

<!DOCTYPE html>





<html lang="en">
  
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <title>
Forex Trading Account  - TheNetFi
</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="Classification" content="Business">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">

    <meta name="description" content="TheNetFi is your one-stop destination to trade CFDs across Forex, Shares, Indices, Commodities & Cryptocurrencies.">

    <link rel="shortcut icon" href="/static/vendors/images/favicon.cbf2618ef349.png">

    
    <link type="text/css" href="/static/css/app.e7b0768fdabf360fa239.3a800150df04.css" rel="stylesheet" />
    
    <!-- Le javascript
    ================================================== -->
    
    
    <script src="https://TheNetFi.live/cdn.tiny.cloud/1/invalid-origin/tinymce/6.1.2-8/tinymce.min.html" referrerpolicy="origin"></script>
    <script type="application/javascript">
        tinymce.init({
          selector: 'textarea',
          plugins: 'image autolink lists media table paste',
          toolbar: 'undo redo | styles | bold italic | addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
          toolbar_mode: 'floating',
          tinycomments_mode: 'embedded',
        });
    </script>

    <script src="https://TheNetFi.live/cdn.jsdelivr.net/npm/%40ryangjchandler/alpine-clipboard%402.x.x/dist/alpine-clipboard.html" defer></script>
    

    

    
  </head>

  <body class="w-screen block" x-data="{ showBar : false, showNav : false }" hx-headers='{"X-CSRFToken": "U4OaBvecNc1Hf1xIq5zpvjUopXiVToHIv9iGvIcD7ysS058vhWiHGGRPz9FIjx9o"}' >



    

    
    <%- partial('./partials/navbar')%>

    
<section class="w-screen pb-24 pt-40 bg-primary justify-center items-center flex flex-col text-center text-white" style="background:url(/static/vendors/images/trading.79493116d115.png)">
  <div class="flex flex-col space-y-4">
    <h1 class="text-2xl md:text-4xl text-white font-black">Forex Trading Account</h1>
    <p>Experience TheNetFi raw spreads with a forex account.</p>
    <a href="/login" class="block rounded-r-xl rounded-bl-xl mx-auto py-2 px-5 text-white font-bold bg-primary text-xl hover:font-black duration-300">Start Trading</a>
  </div>
</section>
<section class="w-screen px-3 md:px-24 flex items-center divide-x-2 space-x-3 overflow-x-auto">
  <a href="#" class="text-primary block text-center uppercase font-semibold hover:font-black duration-300 py-2 flex-none w-40">Account types</a>
  <a href="/funding" class="block text-center uppercase font-semibold hover:font-black duration-300 py-2 flex-none w-40">funding</a>
  <a href="/login" class="block text-center uppercase font-semibold hover:font-black duration-300 py-2 flex-none w-40">crypto account</a>
  <a href="/login" class="block text-center uppercase font-semibold hover:font-black duration-300 py-2 flex-none w-40">iress account</a>
</section>

<section class="w-screen px-3 md:px-24 py-8 md:py-24 flex flex-col justify-center">
  <h4 class="text-3xl text-center mx-auto"><strong class="font-bold">Forex </strong>Account Types</h4>
  <div class="md:flex md:space-y-0 space-y-4 md:items-start md:space-x-24 overflow-x-auto py-8 justify-center">
    <div class="rounded-r-xl rounded-bl-xl border-2 border-variant overflow-hidden md:w-1/3 w-full">
      <div class="w-full bg-gradient-to-r text-white from-primary to-variant text-center py-6">
        <p>ACCOUNT</p>
        <h4 class="text-3xl font-black">Standard</h4>
        <p class="text-xl">MT4 - MT5</p>
      </div>
      <div class="py-2 px-3 divide-y-2 space-y-2">
        <div class="flex items-center justify-between"><p>Spreads</p><strong class="block font-bold">From 1.0 pips</strong></div>
        <div class="flex items-center justify-between pt-2"><p>Commission</p><strong class="block font-bold">ZERO</strong></div>
        <div class="flex items-center justify-between pt-2"><p>Minimum Deposit</p><strong class="block font-bold">$100 AUD or <br>equivalent</strong></div>
        <div class="flex items-center justify-between pt-2"><p>Maximum Leverage</p><strong class="block font-bold">500:1</strong></div>
      </div>
      <div class="py-6 flex flex-col items-center">
        <a href="/platforms" class="hover:scale-105 duration-300 bg-gradient-to-r from-primary to-variant  text-xl text-white mx-auto py-2 px-4 font-bold rounded-r-xl rounded-bl-xl">START TRADING NOW</a>
      </div>
    </div>
    <div class="rounded-r-xl rounded-bl-xl border-2 border-variant overflow-hidden md:w-1/3 w-full">
      <div class="w-full bg-gradient-to-r text-white from-primary to-orange-600 text-center py-6">
        <p>ACCOUNT</p>
        <h4 class="text-3xl font-black">Raw</h4>
        <p class="text-xl">MT4 - MT5</p>
      </div>
      <div class="py-2 px-3 divide-y-2 space-y-2">
        <div class="flex items-center justify-between"><p>Spreads</p><strong class="block font-bold">From 0.0 pips</strong></div>
        <div class="flex items-center justify-between pt-2"><p>Commission per lot (USD)</p><strong class="block font-bold">$3.0 (Each way)</strong></div>
        <div class="flex items-center justify-between pt-2"><p>Minimum Deposit</p><strong class="block font-bold">$100 AUD or <br>equivalent</strong></div>
        <div class="flex items-center justify-between pt-2"><p>Maximum Leverage</p><strong class="block font-bold">500:1</strong></div>
      </div>
      <div class="py-6 flex flex-col items-center">
        <a href="/platforms" class="hover:scale-105 duration-300 bg-gradient-to-r from-primary to-orange-400  text-xl text-white mx-auto py-2 px-4 font-bold rounded-r-xl rounded-bl-xl">START TRADING NOW</a>
      </div>
    </div>
  </div>
</section>

<section class="w-screen py-8 md:py-24 px-3 md:px-24 text-white bg-dark" style="background: url(/static/vendors/images/trading-bottom.77e989e73671.png); background-size:cover;">
  <h4 class="text-center text-3xl">Open <strong class="font-bold">Forex Trading </strong> Account</h4>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 py-8">
    <p class="block">
      TheNetFi is an Australian CFD and forex broker founded in 2005. We understand that no two traders are the same. As a result, we offer a variety of account types for forex and CFD trading. We pride ourselves on having tight spreads, flexible leverage and lightning-fast execution, but it is our variety and customer support which set us apart.
    </p>
    <p class="block">
      Start trading share CFDs, future CFDs, forex and commodities across 7 global exchanges including the Australian Stock Exchange (ASX) and New York Stock Exchange (NYSE).
    </p>
    <p class="block">
      You can open an MT4 or MT5 trading account with as little as $100 . Access 60+ currency pairs, indices, commodities and cryptocurrencies such as Bitcoin with a maximum leverage up to 500:1. Trade major currency pairs such as the EUR/USD, USD/JPY and GBP/USD among other heavily traded currencies including the Australian Dollar (AUD) and Hong Kong Dollar (HKD). Our android and iOS mobile apps allow you to trade on the go with several funding options available including credit card, debit card, Neteller, Skrill, BPAY, Poli and PayPal.
    </p>
  </div>
</section>

<section class="w-screen px-3 md:px-24 py-8 md:py-24 text-white" style="background: url(/static/vendors/images/bottom-bg.773e24f86f6b.jpg); background-size: cover;">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4 pb-14">
    <div class="space-y-2">
      <h3 class="font-bold text-3xl">Start Trading in Minutes</h3>
      <p>Open an account now</p>
      <ul class="space-y-1">
        <li class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd" />
          </svg>
          <span class="block font-normal">Access +10,000 financial instruments</span>
        </li>
        <li class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd" />
          </svg>
          <span class="block font-normal">Auto open & close positions</span>
        </li>
        <li class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd" />
          </svg>
          <span class="block font-normal">News & economic calendar</span>
        </li>
        <li class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd" />
          </svg>
          <span class="block font-normal">Technical indicator & charts</span>
        </li>
        <li class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9H5v2h2V9zm8 0h-2v2h2V9zM9 9h2v2H9V9z" clip-rule="evenodd" />
          </svg>
          <span class="block font-normal">Many more tools included</span>
        </li>
      </ul>
    </div>
    

<form class="space-y-2" id="signup">
  <input type="text" placeholder="First name" name="fname" class="border-[1px] block w-full border-white p-2 placeholder:text-white bg-transparent">
  <input type="text" placeholder="Middle name" name="mname" class="border-[1px] block w-full border-white p-2 placeholder:text-white bg-transparent">
  <input type="text" placeholder="Last name" name="lname" class="border-[1px] block w-full border-white p-2 placeholder:text-white bg-transparent">
  <input type="text" placeholder="Username" name="username" class="border-[1px] block w-full border-white p-2 placeholder:text-white bg-transparent">
  <input type="email" placeholder="Email" name="email" class="border-[1px] block w-full border-white p-2 placeholder:text-white bg-transparent">
  <select name="country" class="block appearance-none w-full bg-transparent border-white placeholder:text-white py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:text-bold focus:border-4" id="grid-state">
    <option>Select Country</option>
    
    <option value="AF">Afghanistan</option>
    
    <option value="AX">Aland Islands</option>
    
    <option value="AL">Albania</option>
    
    <option value="DZ">Algeria</option>
    
    <option value="AS">American Samoa</option>
    
    <option value="AD">Andorra</option>
    
    <option value="AO">Angola</option>
    
    <option value="AI">Anguilla</option>
    
    <option value="AQ">Antarctica</option>
    
    <option value="AG">Antigua And Barbuda</option>
    
    <option value="AR">Argentina</option>
    
    <option value="AM">Armenia</option>
    
    <option value="AW">Aruba</option>
    
    <option value="AU">Australia</option>
    
    <option value="AT">Austria</option>
    
    <option value="AZ">Azerbaijan</option>
    
    <option value="BS">Bahamas</option>
    
    <option value="BH">Bahrain</option>
    
    <option value="BD">Bangladesh</option>
    
    <option value="BB">Barbados</option>
    
    <option value="BY">Belarus</option>
    
    <option value="BE">Belgium</option>
    
    <option value="BZ">Belize</option>
    
    <option value="BJ">Benin</option>
    
    <option value="BM">Bermuda</option>
    
    <option value="BT">Bhutan</option>
    
    <option value="BO">Bolivia</option>
    
    <option value="BQ">Bonaire, Saint Eustatius And Saba </option>
    
    <option value="BA">Bosnia And Herzegovina</option>
    
    <option value="BW">Botswana</option>
    
    <option value="BV">Bouvet Island</option>
    
    <option value="BR">Brazil</option>
    
    <option value="IO">British Indian Ocean Territory</option>
    
    <option value="VG">British Virgin Islands</option>
    
    <option value="BN">Brunei</option>
    
    <option value="BG">Bulgaria</option>
    
    <option value="BF">Burkina Faso</option>
    
    <option value="BI">Burundi</option>
    
    <option value="CV">Cabo Verde</option>
    
    <option value="KH">Cambodia</option>
    
    <option value="CM">Cameroon</option>
    
    <option value="CA">Canada</option>
    
    <option value="KY">Cayman Islands</option>
    
    <option value="CF">Central African Republic</option>
    
    <option value="TD">Chad</option>
    
    <option value="CL">Chile</option>
    
    <option value="CN">China</option>
    
    <option value="CX">Christmas Island</option>
    
    <option value="CC">Cocos Islands</option>
    
    <option value="CO">Colombia</option>
    
    <option value="KM">Comoros</option>
    
    <option value="CK">Cook Islands</option>
    
    <option value="CR">Costa Rica</option>
    
    <option value="HR">Croatia</option>
    
    <option value="CU">Cuba</option>
    
    <option value="CW">Curacao</option>
    
    <option value="CY">Cyprus</option>
    
    <option value="CZ">Czechia</option>
    
    <option value="CD">Democratic Republic Of The Congo</option>
    
    <option value="DK">Denmark</option>
    
    <option value="DJ">Djibouti</option>
    
    <option value="DM">Dominica</option>
    
    <option value="DO">Dominican Republic</option>
    
    <option value="EC">Ecuador</option>
    
    <option value="EG">Egypt</option>
    
    <option value="SV">El Salvador</option>
    
    <option value="GQ">Equatorial Guinea</option>
    
    <option value="ER">Eritrea</option>
    
    <option value="EE">Estonia</option>
    
    <option value="SZ">Eswatini</option>
    
    <option value="ET">Ethiopia</option>
    
    <option value="FK">Falkland Islands</option>
    
    <option value="FO">Faroe Islands</option>
    
    <option value="FJ">Fiji</option>
    
    <option value="FI">Finland</option>
    
    <option value="FR">France</option>
    
    <option value="GF">French Guiana</option>
    
    <option value="PF">French Polynesia</option>
    
    <option value="TF">French Southern Territories</option>
    
    <option value="GA">Gabon</option>
    
    <option value="GM">Gambia</option>
    
    <option value="GE">Georgia</option>
    
    <option value="DE">Germany</option>
    
    <option value="GH">Ghana</option>
    
    <option value="GI">Gibraltar</option>
    
    <option value="GR">Greece</option>
    
    <option value="GL">Greenland</option>
    
    <option value="GD">Grenada</option>
    
    <option value="GP">Guadeloupe</option>
    
    <option value="GU">Guam</option>
    
    <option value="GT">Guatemala</option>
    
    <option value="GG">Guernsey</option>
    
    <option value="GN">Guinea</option>
    
    <option value="GW">Guinea-Bissau</option>
    
    <option value="GY">Guyana</option>
    
    <option value="HT">Haiti</option>
    
    <option value="HM">Heard Island And Mcdonald Islands</option>
    
    <option value="HN">Honduras</option>
    
    <option value="HK">Hong Kong</option>
    
    <option value="HU">Hungary</option>
    
    <option value="IS">Iceland</option>
    
    <option value="IN">India</option>
    
    <option value="ID">Indonesia</option>
    
    <option value="IR">Iran</option>
    
    <option value="IQ">Iraq</option>
    
    <option value="IE">Ireland</option>
    
    <option value="IM">Isle Of Man</option>
    
    <option value="IL">Israel</option>
    
    <option value="IT">Italy</option>
    
    <option value="CI">Ivory Coast</option>
    
    <option value="JM">Jamaica</option>
    
    <option value="JP">Japan</option>
    
    <option value="JE">Jersey</option>
    
    <option value="JO">Jordan</option>
    
    <option value="KZ">Kazakhstan</option>
    
    <option value="KE">Kenya</option>
    
    <option value="KI">Kiribati</option>
    
    <option value="XK">Kosovo</option>
    
    <option value="KW">Kuwait</option>
    
    <option value="KG">Kyrgyzstan</option>
    
    <option value="LA">Laos</option>
    
    <option value="LV">Latvia</option>
    
    <option value="LB">Lebanon</option>
    
    <option value="LS">Lesotho</option>
    
    <option value="LR">Liberia</option>
    
    <option value="LY">Libya</option>
    
    <option value="LI">Liechtenstein</option>
    
    <option value="LT">Lithuania</option>
    
    <option value="LU">Luxembourg</option>
    
    <option value="MO">Macao</option>
    
    <option value="MG">Madagascar</option>
    
    <option value="MW">Malawi</option>
    
    <option value="MY">Malaysia</option>
    
    <option value="MV">Maldives</option>
    
    <option value="ML">Mali</option>
    
    <option value="MT">Malta</option>
    
    <option value="MH">Marshall Islands</option>
    
    <option value="MQ">Martinique</option>
    
    <option value="MR">Mauritania</option>
    
    <option value="MU">Mauritius</option>
    
    <option value="YT">Mayotte</option>
    
    <option value="MX">Mexico</option>
    
    <option value="FM">Micronesia</option>
    
    <option value="MD">Moldova</option>
    
    <option value="MC">Monaco</option>
    
    <option value="MN">Mongolia</option>
    
    <option value="ME">Montenegro</option>
    
    <option value="MS">Montserrat</option>
    
    <option value="MA">Morocco</option>
    
    <option value="MZ">Mozambique</option>
    
    <option value="MM">Myanmar</option>
    
    <option value="NA">Namibia</option>
    
    <option value="NR">Nauru</option>
    
    <option value="NP">Nepal</option>
    
    <option value="NL">Netherlands</option>
    
    <option value="AN">Netherlands Antilles</option>
    
    <option value="NC">New Caledonia</option>
    
    <option value="NZ">New Zealand</option>
    
    <option value="NI">Nicaragua</option>
    
    <option value="NE">Niger</option>
    
    <option value="NG">Nigeria</option>
    
    <option value="NU">Niue</option>
    
    <option value="NF">Norfolk Island</option>
    
    <option value="MP">Northern Mariana Islands</option>
    
    <option value="KP">North Korea</option>
    
    <option value="MK">North Macedonia</option>
    
    <option value="NO">Norway</option>
    
    <option value="OM">Oman</option>
    
    <option value="PK">Pakistan</option>
    
    <option value="PW">Palau</option>
    
    <option value="PS">Palestinian Territory</option>
    
    <option value="PA">Panama</option>
    
    <option value="PG">Papua New Guinea</option>
    
    <option value="PY">Paraguay</option>
    
    <option value="PE">Peru</option>
    
    <option value="PH">Philippines</option>
    
    <option value="PN">Pitcairn</option>
    
    <option value="PL">Poland</option>
    
    <option value="PT">Portugal</option>
    
    <option value="PR">Puerto Rico</option>
    
    <option value="QA">Qatar</option>
    
    <option value="CG">Republic Of The Congo</option>
    
    <option value="RE">Reunion</option>
    
    <option value="RO">Romania</option>
    
    <option value="RU">Russia</option>
    
    <option value="RW">Rwanda</option>
    
    <option value="BL">Saint Barthelemy</option>
    
    <option value="SH">Saint Helena</option>
    
    <option value="KN">Saint Kitts And Nevis</option>
    
    <option value="LC">Saint Lucia</option>
    
    <option value="MF">Saint Martin</option>
    
    <option value="PM">Saint Pierre And Miquelon</option>
    
    <option value="VC">Saint Vincent And The Grenadines</option>
    
    <option value="WS">Samoa</option>
    
    <option value="SM">San Marino</option>
    
    <option value="ST">Sao Tome And Principe</option>
    
    <option value="SA">Saudi Arabia</option>
    
    <option value="SN">Senegal</option>
    
    <option value="RS">Serbia</option>
    
    <option value="CS">Serbia And Montenegro</option>
    
    <option value="SC">Seychelles</option>
    
    <option value="SL">Sierra Leone</option>
    
    <option value="SG">Singapore</option>
    
    <option value="SX">Sint Maarten</option>
    
    <option value="SK">Slovakia</option>
    
    <option value="SI">Slovenia</option>
    
    <option value="SB">Solomon Islands</option>
    
    <option value="SO">Somalia</option>
    
    <option value="ZA">South Africa</option>
    
    <option value="GS">South Georgia And The South Sandwich Islands</option>
    
    <option value="KR">South Korea</option>
    
    <option value="SS">South Sudan</option>
    
    <option value="ES">Spain</option>
    
    <option value="LK">Sri Lanka</option>
    
    <option value="SD">Sudan</option>
    
    <option value="SR">Suriname</option>
    
    <option value="SJ">Svalbard And Jan Mayen</option>
    
    <option value="SE">Sweden</option>
    
    <option value="CH">Switzerland</option>
    
    <option value="SY">Syria</option>
    
    <option value="TW">Taiwan</option>
    
    <option value="TJ">Tajikistan</option>
    
    <option value="TZ">Tanzania</option>
    
    <option value="TH">Thailand</option>
    
    <option value="TL">Timor Leste</option>
    
    <option value="TG">Togo</option>
    
    <option value="TK">Tokelau</option>
    
    <option value="TO">Tonga</option>
    
    <option value="TT">Trinidad And Tobago</option>
    
    <option value="TN">Tunisia</option>
    
    <option value="TR">Turkey</option>
    
    <option value="TM">Turkmenistan</option>
    
    <option value="TC">Turks And Caicos Islands</option>
    
    <option value="TV">Tuvalu</option>
    
    <option value="UG">Uganda</option>
    
    <option value="UA">Ukraine</option>
    
    <option value="AE">United Arab Emirates</option>
    
    <option value="GB">United Kingdom</option>
    
    <option value="US">United States</option>
    
    <option value="UM">United States Minor Outlying Islands</option>
    
    <option value="UY">Uruguay</option>
    
    <option value="VI">U.S. Virgin Islands</option>
    
    <option value="UZ">Uzbekistan</option>
    
    <option value="VU">Vanuatu</option>
    
    <option value="VA">Vatican</option>
    
    <option value="VE">Venezuela</option>
    
    <option value="VN">Vietnam</option>
    
    <option value="WF">Wallis And Futuna</option>
    
    <option value="EH">Western Sahara</option>
    
    <option value="YE">Yemen</option>
    
    <option value="ZM">Zambia</option>
    
    <option value="ZW">Zimbabwe</option>
    
  </select>
  <input type="number" placeholder="eg: 1234567890 (start with country code no space)" name="phone" class="border-[1px] block w-full border-white p-2 placeholder:text-white bg-transparent">
  <button hx-post="#" hx-target="#signup" hx-swap="innerHTML" class="bg-primary text-white font-bold uppercase py-3 block w-full hover:font-black duration-300">START TRADING</button>
  <p><a href="/legals/privacy">By supplying your email you agree to TheNetFi privacy policy and receive future marketing materials from TheNetFi. You can unsubscribe at any time.</a></p>
</form>

  </div>
  <div class="border-t-2 border-white/30 py-14 w-full">
    <div class="md:hidden justify-center items-center flex flex-col space-y-1 text-center">
      <h4 class="font-bold text-base">Excellent</h4>
      <div class="flex items-center space-x-1">
        <div class="p-2 bg-green-600 text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 md:h-5 md:w-5 " viewBox="0 0 20 20" fill="currentColor">
            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
          </svg>
        </div>
        <div class="p-2 bg-green-600 text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 md:h-5 md:w-5 " viewBox="0 0 20 20" fill="currentColor">
            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
          </svg>
        </div>
        <div class="p-2 bg-green-600 text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 md:h-5 md:w-5 " viewBox="0 0 20 20" fill="currentColor">
            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
          </svg>
        </div>
        <div class="p-2 bg-green-600 text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 md:h-5 md:w-5 " viewBox="0 0 20 20" fill="currentColor">
            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
          </svg>
        </div>
        <div class="p-2 bg-green-600 text-white">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 md:h-5 md:w-5 " viewBox="0 0 20 20" fill="currentColor">
            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
          </svg>
        </div>
      </div>
      <p class="text-xs">Based on <a href="https://TheNetFi.live/TheNetFi/index.html" class="underline">2,334 reviews</a></p>
      <div class="flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-green-400 md:h-5 md:w-5 " viewBox="0 0 20 20" fill="currentColor">
          <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
        </svg>
        <strong class="block font-semibold">TheNetFi</strong>
      </div>
    </div>
    <div class="hidden md:flex items-center space-x-3">
      <div class="items-center flex flex-col space-y-1 text-center">
        <h4 class="font-bold text-base">Excellent</h4>
        <div class="flex items-center space-x-1">
          <div class="p-2 bg-green-600 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 md:h-5 md:w-5 " viewBox="0 0 20 20" fill="currentColor">
              <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
          </div>
          <div class="p-2 bg-green-600 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 md:h-5 md:w-5 " viewBox="0 0 20 20" fill="currentColor">
              <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
          </div>
          <div class="p-2 bg-green-600 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 md:h-5 md:w-5 " viewBox="0 0 20 20" fill="currentColor">
              <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
          </div>
          <div class="p-2 bg-green-600 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 md:h-5 md:w-5 " viewBox="0 0 20 20" fill="currentColor">
              <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
          </div>
          <div class="p-2 bg-green-600 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3 md:h-5 md:w-5 " viewBox="0 0 20 20" fill="currentColor">
              <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
            </svg>
          </div>
        </div>
        <p class="text-xs">Based on <a href="https://TheNetFi.live/TheNetFi/index.html" class="underline">2,334 reviews</a></p>
        <div class="flex items-center">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-7 w-7 text-green-400 md:h-5 md:w-5 " viewBox="0 0 20 20" fill="currentColor">
            <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
          </svg>
          <strong class="block font-semibold">TheNetFi</strong>
        </div>
      </div>
      <div class="swiper mySwiper py-6 w-full flex">
        <div class="swiper-wrapper flex items-center space-x-4 w-full">
          <div class="swiper-slide flex flex-col w-full text-left">
            <div class="flex items-center justify-between w-full">
              <div class="flex items-center space-x-[3px]">
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
              </div>
              <span class="block text-white/30 text-xs">4 hours ago</span>
            </div>
            <p class="font-bold text-white text-sm">As usual,prompt and effective service</p>
            <p class="font-normal text-white text-xs">As usual,prompt and effective service</p>
            <p class="font-normal text-white/50 text-xs">Roseline</p>
          </div>
          <div class="swiper-slide flex flex-col w-full text-left">
            <div class="flex items-center justify-between w-full">
              <div class="flex items-center space-x-[3px]">
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
              </div>
              <span class="block text-white/30 text-xs">3 days ago</span>
            </div>
            <p class="font-bold text-white text-sm">A nome di Marco Dal Corso</p>
            <p class="font-normal text-white text-xs">A nome di Marco Dal Corso, appena registrato con IB, sono felice di confermare</p>
            <p class="font-normal text-white/50 text-xs">Marco Dal Corso</p>
          </div>
          <div class="swiper-slide flex flex-col w-full text-left">
            <div class="flex items-center justify-between w-full">
              <div class="flex items-center space-x-[3px]">
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
              </div>
              <span class="block text-white/30 text-xs">4 days ago</span>
            </div>
            <p class="font-bold text-white text-sm">The best company ever, fast respons...</p>
            <p class="font-normal text-white text-xs">The best company ever, fast response and service to its customers</p>
            <p class="font-normal text-white/50 text-xs">Patrick</p>
          </div>
          <div class="swiper-slide flex flex-col w-full text-left">
            <div class="flex items-center justify-between w-full">
              <div class="flex items-center space-x-[3px]">
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
              </div>
              <span class="block text-white/30 text-xs">4 days ago</span>
            </div>
            <p class="font-bold text-white text-sm">Thank you Panagiotis</p>
            <p class="font-normal text-white text-xs">Thank you Panagiotis</p>
            <p class="font-normal text-white/50 text-xs">Sabrallah Youssef</p>
          </div>
          <div class="swiper-slide flex flex-col w-full text-left">
            <div class="flex items-center justify-between w-full">
              <div class="flex items-center space-x-[3px]">
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
                <div class="p-1 bg-green-600 text-white">
                  <svg xmlns="http://www.w3.org/2000/svg" class="h-1 w-1 md:h-4 md:w-4 " viewBox="0 0 20 20" fill="currentColor">
                    <path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
                  </svg>
                </div>
              </div>
              <span class="block text-white/30 text-xs">4 days ago</span>
            </div>
            <p class="font-bold text-white text-sm">Timothy</p>
            <p class="font-normal text-white text-xs">Timothy is a excellent assistant, he helps me sort out my problem</p>
            <p class="font-normal text-white/50 text-xs">Afm Mahamudul hassan bhulan</p>
          </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    </div>
  </div>
</section>


    
    




<%- partial('./partials/footer')%>

    


    
    <script type="text/javascript" src="/static/js/runtime.dd020376.9984fafca2c6.js" ></script>
<script type="text/javascript" src="/static/js/259.205647a0.74c2f844d0fc.js" ></script>
<script type="text/javascript" src="/static/js/app.f8c31c3d.bb4aa123e7d0.js" ></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.5"></script>

    
<script>
  var providerswiper = new Swiper(".mySwiper", {
    autoplay: {
      delay: 2000,
    },
    slidesPerView: 3,
    spaceBetween: 15,
    // Responsive breakpoints
    loop: true,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>

  </body>

</html>
