

<!DOCTYPE html>





<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <title>
Terms of Use  - TheNetFi
</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=yes">
    <meta name="HandheldFriendly" content="true">
    <meta name="Classification" content="Business">
    <meta name="coverage" content="Worldwide">
    <meta name="distribution" content="Global">

    <meta name="description" content="TheNetFi is your one-stop destination to trade CFDs across Forex, Shares, Indices, Commodities & Cryptocurrencies.">

    <link rel="shortcut icon" href="/static/vendors/images/favicon.cbf2618ef349.png">

    
    <link type="text/css" href="/static/css/app.e7b0768fdabf360fa239.3a800150df04.css" rel="stylesheet" />
    
    <!-- Le javascript
    ================================================== -->
    
    
    <script src="https://TheNetFi.live/cdn.tiny.cloud/1/invalid-origin/tinymce/6.1.2-8/tinymce.min.html" referrerpolicy="origin"></script>
    <script type="application/javascript">
        tinymce.init({
          selector: 'textarea',
          plugins: 'image autolink lists media table paste',
          toolbar: 'undo redo | styles | bold italic | addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
          toolbar_mode: 'floating',
          tinycomments_mode: 'embedded',
        });
    </script>

    <script src="https://TheNetFi.live/cdn.jsdelivr.net/npm/%40ryangjchandler/alpine-clipboard%402.x.x/dist/alpine-clipboard.html" defer></script>
    

    

    
  </head>

  <body class="w-screen block" x-data="{ showBar : false, showNav : false }" hx-headers='{"X-CSRFToken": "HKxYJjPHPK4nvkKz1fFZgmQQuoN2DpBRiP1uDwN896vygolmS6ohrJNhEAaP3y3x"}' >



    

    
    <%- partial('./partials/navbar')%>

    
    <section class="w-screen pb-24 pt-40 bg-primary justify-center items-center flex flex-col text-center text-white" style="background:url(../../../static/vendors/images/platforms.d8e035a2d16e.png); background-size: cover">
      <div class="flex flex-col space-y-4">
        <h1 class="text-2xl md:text-4xl text-white font-black">Terms of Use</h1>
        <p>Choose the best platform for a faster and better way to trade. Advanced charting, powerful trading tools, superior execution.</p>
      </div>
    </section>

<section class="w-screen px-3 md:px-24 py-8 md:py-24">
  
</section>


    
    




<%- partial('./partials/footer')%>


    


    
    <script type="text/javascript" src="/static/js/runtime.dd020376.9984fafca2c6.js" ></script>
<script type="text/javascript" src="/static/js/259.205647a0.74c2f844d0fc.js" ></script>
<script type="text/javascript" src="/static/js/app.f8c31c3d.bb4aa123e7d0.js" ></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.5"></script>

    
    
    
  </body>

</html>
