<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TheNetFi || Password Reset</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />    

 <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
  <div class="wrapper fadeInDown">
    <div id="formContent">
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="/img/logo.png" id="icon" alt="User Icon" />
      </div>

      <div class="flashbox">
        <% if(success && success.length) { %>
               <div class="flashboxsuccess-alert">
                   <%= success %> 
                   <span class="flashboxsuccess-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                   
               </div>
           <% } %> 
       
           <% if(error && error.length) { %>
                   <div class="flashboxerror-alert">
                       <%= error %> 
                       <span class="flashboxerror-closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                       
                   </div>
           <% } %> 
           
    </div>
  
      <!-- <form action="/forgot" method="post">
        <input type="email" id="email" class="fadeIn second" name="email" placeholder="Enter Email Address">
        <input type="submit" class="fadeIn fourth" value="Reset">
      </form> -->

      <form action="/forgot" method="post">
        <p>Enter the email address linked with your account to reset your password.</p>
        <input type="email" id="email" class="fadeIn second" name="email" placeholder="Email Address">
        <input type="submit" class="fadeIn fourth" value="Reset">
      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="/login">Remembered Your Password? Login</a>
      </div>
  
    </div>
  </div>
  
</body>
</html>